<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSGO-Float-Api</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body class="d-flex flex-column h-100">

    <header class=" mb-5">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">CSGO-Float-Api</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary m-1" aria-current="page" asp-action="Index" asp-controller="Admin">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary m-1" asp-action="AccountList" asp-controller="Admin">Account List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-secondary m-1" asp-action="Index" asp-controller="Log">View Log</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" asp-action="RestartAplication" asp-controller="Admin">
                                <button class="nav-link btn btn-outline-danger m-1" type="submit" >Restart Aplication</button>
                            </form>
                        </li>
                    </ul>
                    <form method="post" class="d-flex" asp-action="Logout" asp-controller="Admin">
                        <button  class="btn btn-secondary" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Check this project on <a target="_blank" href="https://github.com/Cappi1998/CSGO-Float-Api">Github</a> <i class="fab fa-github"></i></span>
        </div>
    </footer>


    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>

<style>
    body {
        background: #808080
    }
</style>